* {
  box-sizing: border-box !important;
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
}

main {
  position: relative;
  border: 5px solid orange;
  height: 100vh;
}

.leaflet-container {
  width: 100%;
  height: 99vh;
  position: relative;
  border: 5px solid red;
}

body {
  border: 5px solid blue;
  width: 100vw;
  height: 100vh;
  padding: 0px;
}

html {
  padding: 0px;
}

.map-controls {
  position: absolute;
  z-index: 500;
  right: 10px;
  width: 25%;
  text-align: right;
  border: 2px solid gray;
  background: rgba(0, 0, 0, 0.25);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
